<head>
  <title> uLink Home </title>
  <style>
    .mainBanner {
        display: block-inline;
        margin-left: auto;
        margin-right: auto;
        width: 45%;
        height: 333px;
    }
    .mainTopics {
        display: block-inline;
        margin-left: auto;
        margin-right: auto;
        width: 22%;
    }
    .sideBanner {
        display: block-inline;
        width: 200px;
        height: 320px;
    }

  </style>
</head>
<body>

<img src="/assets/FlatironBuilding.jpg" class="sideBanner">
<img src="/assets/calm.jpg" class="mainBanner">
<img src="/assets/FlatironBuilding2.png" class="sideBanner"><br>



</body>






<h2>Topics</h2>

<% @topics.each do |topic| %>
    <a class="button" href="/topics/<%= topic.id %>"><%= topic.name %></a><br>
<% end %>

